a:has(.housing-card) {
text-decoration: none;
}

.housing-card {
    height: 275px;
    width: 275px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: white;
    font-weight: 600;
    transition: all .25s ease-out;

    &:hover {
        box-shadow: 2px 2px 10px #662319;
    }
}