.housings-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 75px auto;

  // ------ RESPONSIVE
  @media screen and (max-width: 425px) {
    padding: 0;
  }
}
