.banner {
    height: 250px;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0;
    overflow: hidden;
    position: relative;

    &::after {
        position: absolute;
        inset: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
    }

    img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 50%; 
        transform: translateY(-50%);
        font-size: 3em;
        text-align: center;
        color: white;
        z-index: 1;
        width: 100%;
    }
}