section.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    gap: 70px;
    margin-bottom: 50px;



    // RESPONSIVE
    @media screen and (max-width:950px) {
        &.wrapper {
            padding: 10px 20px;
        }
    }
    @media screen and (max-width:425px) {
        height: 60vh;
    }

    .error-number {
        font-size: 16em;

        // RESPONSIVE
        @media screen and (max-width:768px) {
            font-size: 10em;        }
        @media screen and (max-width:425px) {
            font-size: 5em;
        }
        
    }
    .error-message {
        font-size: 2.25em;
        font-weight: 500;
        
        // RESPONSIVE
        @media screen and (max-width:768px) {
            font-size: 1.5em;
            text-align: center;
        }
        @media screen and (max-width:425px) {
            font-size: 1.1em;
            text-align: center;
        }
    }

    a {
        color: black;
        font-weight: 600;
        text-decoration: underline 2px;
    }
}